/* Comic Advisors Global Stylesheet */

html {
    font-family:helvetica,arial,sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body.comicadvisors {
	margin:0;
	font-family: helvetica,arial,sans-serif;
	font-weight:400;
    font-size:10px;
    line-height:1.125;
}
.comicadvisors a {
    background-color:transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
.comicadvisors a:active,
.comicadvisors a:hover {
    outline:0;
    text-decoration: none;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 3.6em; }
h2 { font-size: 3em; }
h3 { font-size: 2.4em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p {
    font-size: 1.4em;
    line-height: 24px;
}

/* Nav */
.comicadvisors nav {
	background: #080808;
	border-radius: 0;
	height: 54px;
}
nav .navbar-logo {
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	font-size: 24px;
	padding-top: 12px;
}
nav .navbar-logo a {
	color: #fff;
}
nav .navbar-nav {
	font-size: 1.4em;
} 

/* Main Content */
#mainContent {
	margin-top: 78px;
}
#mainContent a {
	color: #111;
}
#mainContent article {
	margin: 0 0 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
article .article-photo {
	height: 400px;
	overflow: hidden;
	margin-bottom: 10px;
}
article img,
article iframe {
	width: 100%;
}
article iframe {
	height: 400px;
}
article .article-title h3 {
	font-weight: bold;
}












