<template name="articleUpdate">
	<h1>Form for new Article</h1>
  	{{> quickForm collection="Articles" doc=article id="updateArticleForm" type="update"}}
	<!-- <div class="row">
      	<div class="col-lg-2"></div>
  		<div class="col-lg-8">
    		<h1>Form for new Article</h1>
			<form id="submitArticleForm" novalidate="novalidate"> 
			    <div class="form-group" data-required="true">  
			    	<label class="control-label">Title</label>
			    	<input type="text" name="title" required="" data-schema-key="title" class="form-control">
			    	<span class="help-block"></span>
			 	</div>
			    <div class="form-group" data-required="true">
				    <label class="control-label">Author</label>
				    <input type="text" name="author" required="" data-schema-key="author" class="form-control">
				    <span class="help-block"></span>
				</div>
			    <div class="form-group" data-required="true">
				    <label class="control-label">Primary Image</label>
				    <input type="text" name="primaryAsset" required="" data-schema-key="primaryAsset" class="form-control">
				    <span class="help-block"></span>
				</div>
			    <div class="form-group" data-required="true">
				    <label class="control-label">Body</label>
				    <textarea rows="20" name="body" required="" data-schema-key="body" class="form-control"></textarea>
				    <span class="help-block"></span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
      	</div>
     	<div class="col-lg-2"></div>
    </div> -->
</template>