<template name="articleItemFeature">
	<article class="article">
		<a href="/article/{{slug}}/{{_id}}">
			<div class="article-photo">
				<img src="{{imageSrc}}" alt="Article Photo: {{title}}">
			</div>
		</a>
		<div class="article-section"><a href="/section/{{section}}">{{section}}</a></div>
		<a href="/article/{{slug}}/{{_id}}">
			<div class="article-title">
				<h3>{{title}}</h3>
			</div>
		</a>
		<div class="article-description">
			{{description}}
		</div>
		<div class="article-author">By <span class="author-name">{{author}}</span></div>
	</article>
</template>