<template name="userPage">
	<div>
		<ul class="list-group">
	  		<li class="list-group-item user-name">
		  		<h3>{{firstName}} {{lastName}}</h3>
		  	</li>
		  	<li class="list-group-item user-email">
		  		<h4>Email: {{email}}</h4>
		  	</li>
	      	<li class="list-group-item user-username">
	     		<h4>Username: {{username}}</h4>
	     	</li>
	    </ul>
	</div>
	<div class="articles">
		ARTICLES
		{{#each articles}}
		  	<hr>
		  	{{> userArticleItem}}
		  	<hr>
		  {{/each}}
	</div>
</template>