/* Comic Advisors Article Stylesheet */

/* Article */
body.article .article-title{
    margin-bottom: 10px;
}
.article-title h1{
	font-size: 4em;
	font-weight: bold;
}
.article-primary-asset{
	width: 100%;
	height: 420px;
	margin-bottom: 14px;
	overflow: hidden;
	position: relative;
	background: #1a1a1a;
}
.article-primary-asset img,
.article-primary-asset iframe{
	width: 100%;
}
.article-primary-asset iframe{
	height: 420px;
	max-width: 100% !important;
}
.article-meta{
	height: 40px;
	margin-bottom: 20px;
}
.article-info{
	float: left;
	width: 60%;
}
.article-info .article-author,
.article-info .article-timestamp{
	font-size: 1.4em;
	line-height: 18px;
}
.share-tools{
	float: right;
}
.share-tools-list{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.share-tools-list li{
	display: inline-block;
	margin-right: 10px;
}
.share-tools-list i{
	width: 37px;
	height: 37px;
	display: inline-block;
	background: url(../images/core-share-white-color-circle.png) no-repeat center;
	background-size: 75px;
}
.share-tools-list .share-twitter{
	background-position: 1px 1px;
}
.share-tools-list .share-facebook{
	background-position: -36px 1px;
}
.share-tools-list .share-twitter:hover{
	background-position: 1px -36px;
}
.share-tools-list .share-facebook:hover{
	background-position: -36px -36px;
}
.article-body p{
	font-family: helvetica,arial,sans-serif;
	font-size: 1.7em;
    line-height: 24px;
    margin-bottom: 20px;
    margin-left: 80px;
}
.article-body .cms-image{
	width: 50%;
	float: left;
	margin: 6px 20px 16px 0;
}
.article-body .cms-image img{
	width: 100%;
}
.article-body .cms-image .caption{
	margin: 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.article-body .cms-youtube{
	margin-bottom: 20px;
}
.article-body .cms-youtube iframe{
	width: 100% !important;
}
.article-body .cms-tweet{
	margin-bottom: 20px;
}
.article-body .cms-tweet .twitter-tweet{
	margin: 0 auto;
}
.article-body .cms-quote{
    font-family: times new roman,helvetica,arial,sans-serif;
    font-size: 28px;
    line-height: 40px;
    width: 75%;
    margin: 0 auto 20px;
}
.article-body .cms-quote .quote{
	font-size: 64px;
    font-family: cursive;
    color: #EB2828;
    vertical-align: bottom;
    margin: 0 6px;
    line-height: 18px;
}

@media(max-width:1200px){
}

@media(max-width:992px){
}

@media(max-width:768px){
	.article-primary-asset img,
	.article-primary-asset iframe{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media(max-width:480px){
	.article-primary-asset,
	.article-primary-asset iframe,
	.article-body iframe{
	    height: 236px;
	}
	.article-body p{
	    margin-left: 0;
	}
	.article-body .cms-image {
	    width: 100%;
	    margin: 0 0 20px 0;
	}
	.article-body .cms-quote {
	    width: 90%;
	    margin: 0 auto 10px;
	}
}