/* Comic Advisors Global Stylesheet */

html{
    font-family:avenir,helvetica,arial,sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body.comicadvisors{
	margin:0;
	font-family:avenir,helvetica,arial,sans-serif;
	font-weight:400;
    font-size:10px;
    line-height:1.125;
}
.comicadvisors a{
    background-color:transparent;
    text-decoration: none;
    color: #EB2828;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
.comicadvisors a:active,
.comicadvisors a:hover{
    outline:0;
    text-decoration: none;
}
.comicadvisors.admin a{
    color: #111;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 3.6em; }
h2 { font-size: 3em; }
h3 { font-size: 2.4em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p{
    font-size: 1.4em;
    line-height: 24px;
}

/* Nav */
.comicadvisors nav{
	background: #080808;
	border-radius: 0;
	border: none;
}
nav .navbar-logo{
	background: url(../images/CA_Logo.png) no-repeat center;
	background-size: 250px;
	width: 300px;
	height: 40px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	margin-top: 7px;
}
nav .navbar-logo a{
	color: #fff;
	display: inline-block;
    position: relative;
    width: 100%;
}
nav .navbar-logo .logo-left{
	position: absolute;
    left: 51px;
}
nav .navbar-logo .logo-right{
	position: absolute;
    right: 12px;
}
nav .logo{
	width: 34px;
    height: 33px;
    margin-top: -3px;
    display: inline-block;
    background: url(../images/Social_Icon-circle-black.png) no-repeat center;
    background-size: 33px;
}
nav .navbar-nav{
	font-size: 1.4em;
}
.comicadvisors .navbar-nav > li > a,
.comicadvisors .navbar-default .navbar-nav > .open > a,
.comicadvisors nav .dropdown-menu > li > a{
	color: #fff !important;
} 
.comicadvisors .navbar-nav > li > a:hover,
.comicadvisors .navbar-nav > li > a:hover{
	color: #EB2828 !important;
} 
.comicadvisors .navbar-default .navbar-nav > .open > a{
	background: #333;
}
.comicadvisors nav .dropdown-menu{
	border: none;
	background: #333 !important;
}
.comicadvisors .dropdown-menu > li > a:hover, 
.comicadvisors .dropdown-menu > li > a:focus{
	color: #EB2828 !important;
	background: none;
}
.nav-social{
	padding: 12px 0;
}
.nav-social li{
	display: inline-block;
	margin-left: 14px;
}
.nav-social i{
	height: 26px;
	display: inline-block;
	background: url(../images/core-share-white-color-no-circle-2x.png) no-repeat center;
	background-size: 184px;
}
.nav-social .ca-youtube{
	width: 36px;
    background-position: -138px -31px;
}
.nav-social .ca-twitter{
	width: 35px;
    background-position: -29px -31px;
}
.nav-social .ca-facebook{
	width: 14px;
	background-position: -9px -31px;
}
.nav-social .ca-instagram{
	width: 27px;
	background-position: -70px -31px;
}
.nav-social .ca-youtube:hover{
    background-position: -138px 1px;
}
.nav-social .ca-twitter:hover{
    background-position: -29px 0px;
}
.nav-social .ca-facebook:hover{
    background-position: -9px 0px;
}
.nav-social .ca-instagram:hover{
    background-position: -70px 0px;
}
.comicadvisors .navbar-collapse{
	border: none;
	background: #080808;
}
.comicadvisors .navbar-fixed-top .navbar-collapse, 
.comicadvisors .navbar-fixed-bottom .navbar-collapse{
	max-height: none;
}
.comicadvisors .navbar-default .navbar-toggle{
	border: none;
}
.comicadvisors .navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.comicadvisors .navbar-default .navbar-toggle .icon-bar:first-child{
	background-color: #EB2828;
}
.comicadvisors .navbar-default .navbar-toggle:hover, 
.comicadvisors .navbar-default .navbar-toggle:focus{
	background: none;
}
.comicadvisors .navbar-toggle.collapsed{
	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    transition: transform .3s;
}
.comicadvisors .navbar-toggle{
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    transition: transform .3s;
}

/* Main Content */
#mainContent{
	margin-top: 78px;
}
#mainContent .module-title{
	border-bottom: 3px solid #EB2828;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#mainContent article{
	margin: 0 0 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
article .article-photo{
	height: 420px;
	overflow: hidden;
	margin-bottom: 10px;
	background: #1a1a1a;
	position: relative;
}
article img,
article iframe{
	width: 100%;
}
article iframe{
	height: 368px;
}
article .article-title h3{
	color: #111;
	font-weight: bold;
	font-size: 4em;
	margin-bottom: 2px;
}
article .article-description{
	font-size: 1.6em;
	line-height: 18px;
	color: #666;
	margin-bottom: 6px;
}
article .article-section,
.article .article-section{
	font-size: 1.4em;
    font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 6px;
}
article .article-section a,
.article .article-section a{
	color: #EB2828;
}
article .article-author{
	font-size: 1.6em;
}
.article-author .author-name{
	font-weight: bold;
}

/* Footer */
.comicadvisors footer{
	border-top: 3px solid #111;
    margin: 40px 0;
    padding-top: 20px;
}

footer h2{
	margin-bottom: 10px;
}

/* Editor Tools */
body.admin #mainContent{
	font-family: helvetica,arial,sans-serif;
}
.admin .editor-tool-title{
	margin-bottom: 20px;
}
.comicadvisors .form-group label{
	font-size: 1.8em;
}

/* Not Found */
.not-found-container{
	text-align: center;
}
.not-found-container h1{
	margin-bottom: 10px;
}
.not-found-container h3{
	margin-bottom: 16px;
}
.not-found-container img{
	width: 100%;
}

@media(max-width:1200px){
	nav .navbar-nav {
	    font-size: 1.2em;
	}
	.nav > li > a {
	    position: relative;
	    display: block;
	    padding: 16px 10px 10px;
	}
	nav .navbar-logo {
	    background-size: 250px;
	}
}

@media(max-width:992px){
	.nav > li > a {
	    position: relative;
	    display: block;
	    padding: 16px 4px 10px;
	}
}

@media(max-width:768px){
	.nav > li > a {
	    position: relative;
	    display: block;
	    padding: 15px 15px;
	}
	nav .navbar-nav {
	    font-size: 1.4em;
	}
	article .article-photo img{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media(max-width:480px){
	nav .navbar-logo{
		width: 235px;
		left: 10px;
		margin-left: 0;
	}
	nav .navbar-left{
		border-bottom: 1px solid #ccc;
	}
	article .article-photo{
	    height: 236px;
	}
	article .article-title h3{
		font-size: 3em;
	}
	article .article-description{
		font-size: 1.4em;
		line-height: 16px;
	}
	article .article-author {
	    font-size: 1.4em;
	}
	.right-rail{
		display: none;
	}
}