<template name="adminControls">
  <li class="dropdown">
    <a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        {{#linkTo route='newArticle'}}
          New Article
        {{/linkTo}}
      </li>
      <li>
        {{#linkTo route='newQuote'}}
          New Quote
        {{/linkTo}}
      </li>
      <li>
        {{#linkTo route='userList'}}
          Users
        {{/linkTo}}
      </li>
    </ul>
  </li>
</template>