<template name="navLogin">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span>Login</span>
      <span class="caret"></span>
    </a>
    <ul id="login-dp" class="dropdown-menu">
      <li>
        <div class="row">
          <div class="col-md-12">
            {{> login}}
          </div>
        </div>
      </li>
    </ul> 
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span>Register</span>
    </a>
    <ul id="login-dp" class="dropdown-menu">
      <li>
        <div class="row">
          <div class="col-md-12">
            {{> register}}
          </div>
        </div>
      </li>
    </ul>
  </li>
</template>

<template name="navSocial">
  <li>
    <ul class="nav-social">
      <li><i class="ca-twitter"></i></li>
      <li><i class="ca-instagram"></i></li>
      <li><i class="ca-facebook"></i></li>
    </ul>
  </li>
</template>